<div class="row">
    <h1 id="educacion">Educación</h1>
    <div class="col-lg-2"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1 id="estudio">Educacion secundario</h1> - <h3 id="years">Año finalización 2009</h3>
            </li>
            <p>Realicé mis estudios secundarios en la Escuela de Educación Técnica N° 2 Dr. Carlos Lubetkin, donde adquirí conocimientos básicos de contabilidad y también aprendí a utilizar programas de ofimática como Microsoft Word, Excel </p>
        </ul>
        <ul>
            <li>
                <h1 id="estudio">Formación Profesional en Informática para Administración y Gestión</h1> - <h3 id="years">Año 2022</h3>
            </li>
            <p>Realicé una formación profesional de 360 horas en el Instituto Nacional de Educación Tecnológica (INET), donde adquirí habilidades en el manejo de programas de ofimática como Microsoft Word, Excel y Access, además de conocer herramientas útiles para la administración y gestión de información en empresas y organizaciones.</p>
        </ul>
        <ul>
            <li>
                <h1 id="estudio">Estudio programación full stack jr</h1> - <h3 id="years">Año 2022-2023</h3>
            </li>
            <p>
                Continúo mi formación en programación full stack junior, donde he aprendido a utilizar diversas herramientas para el desarrollo de aplicaciones web y móviles. Durante el curso, he adquirido habilidades en lenguajes y tecnologías como HTML, CSS, JavaScript,Node.js,Rubi etc. Gracias a ello, soy capaz de desarrollar aplicaciones completas, desde el frontend hasta el backend, y gestionar bases de datos. Estoy emocionado de seguir explorando nuevas tecnologías y ampliando mis habilidades en el área de programación.
            </p>
        </ul>
    </div>
    </div>
    