<div class="row">
<h1 id="experiencia">Experiencia laboral</h1>
<div class="col-lg-2"></div>
<div class="col-lg-11">
    <ul>
        <li>
            <h1 id="trabajo">Heladeria Sorrento</h1> - <h3 id="years">Año 2013-2015</h3>
        </li>
        <p>Encargado de recibir y controlar los productos (potes de Telgopor de helado, cucuruchos, etc.) para garantizar la disponibilidad de los mismos en la tienda.
            Supervisión de la correcta recepción y almacenamiento de los productos en el depósito de la heladería.
            Control de inventario de los productos y realización de los pedidos correspondientes en base a las necesidades y a las ventas previstas.
            Coordinación con los proveedores para la entrega de los productos, asegurando el cumplimiento de los plazos y condiciones acordados.
            Gestión de los desperdicios y la basura producidos en la tienda, asegurando el cumplimiento de las normas sanitarias y ambientales correspondientes.
            Responsable de caja chica y atención al cliente.</p>
    </ul>
    <ul>
        <li>
            <h1 id="trabajo">Supermercado Coperativa Obrera</h1> - <h3 id="years">Año 2016</h3>
        </li>
        <p>Gestionar la caja chica, asegurando el correcto manejo de los fondos y la emisión de comprobantes fiscales.
            Atender a los clientes, brindando información sobre los productos y servicios ofrecidos por la cooperativa, así como también asesoramiento en la realización de compras.
            Registrar las ventas realizadas en el sistema informático de la cooperativa, garantizando la precisión y la confiabilidad de la información registrada.
            Realizar el arqueo de caja al cierre de la jornada laboral, asegurando la exactitud de los registros y la conciliación de los saldos.
            Colaborar en la organización y reposición de los productos en las góndolas, garantizando la disponibilidad de los mismos para los clientes.
            Atender y resolver reclamos y quejas de los clientes, asegurando la satisfacción y fidelización de los mismos.
            Mantener el área de caja limpia y ordenada, siguiendo las normas y políticas de higiene y seguridad establecidas por la cooperativa.</p>
    </ul>
    <ul>
        <li>
            <h1 id="trabajo">Sapukai fabrica de bombillas y mates</h1> - <h3 id="years">Año 2017-2022</h3>
        </li>
        <p>Supervisión de la correcta recepción y almacenamiento de los productos en el depósito.
            Ayudante en la fabricación de bombillas (ensamblaje, aplanamiento, pulido, lijado de mates, etc.).
            Gestión de los desperdicios y la basura producidos en la tienda, asegurando el cumplimiento de las normas sanitarias y ambientales correspondientes.
            Responsable de caja chica y atención al cliente.</p>
    </ul>
</div>
</div>
