<div class="row">
    <h1>Proyecto realizado</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Portfolio Argentina Programa</h3>
            <p>¡Hola de nuevo! Me complace compartir con ustedes mi portfolio, el cual ha sido creado con herramientas y tecnologías increíbles como Bootstrap, HTML, Node.js, CSS, y muchas más.

                En primer lugar, decidí utilizar Bootstrap para crear un diseño moderno y elegante para mi portfolio. Bootstrap es una herramienta muy útil que me permitió crear un sitio web responsive que se adapta a cualquier dispositivo, lo que significa que mi portfolio se ve y funciona perfectamente en cualquier dispositivo móvil, tableta o computadora.
                
                Luego, utilicé HTML para estructurar mi sitio web y crear las diferentes secciones, como la página principal, la sección de proyectos, la sección de habilidades, la sección de contacto, y otras. HTML me permitió organizar todo mi contenido y hacer que el sitio web sea fácil de navegar.
                
                Además, utilicé CSS para darle estilo a mi sitio web y hacerlo más atractivo visualmente. Con CSS, pude personalizar todo, desde los colores y fuentes hasta los tamaños de los elementos, y hacer que mi sitio web se vea exactamente como quería.
                
                Finalmente, utilicé Node.js para hacer que mi sitio web sea dinámico y funcional. Node.js me permitió agregar características avanzadas, como formularios de contacto, animaciones, y mucho más.
                
                En resumen, la creación de mi portfolio fue un gran desafío, pero con estas herramientas y tecnologías, pude crear un sitio web impresionante que muestra mi trabajo de una manera efectiva y elegante. ¡Espero que lo disfrutes tanto como yo!
                
                
                
                
                </p>
            
            <h3>Calculadora</h3>
            <p>
                Cuando diseñé mi propia calculadora web, utilicé una variedad de herramientas y tecnologías. Empecé por programar la interfaz de usuario utilizando HTML, CSS y JavaScript, lo que me permitió crear una apariencia atractiva y funcional para la aplicación.
                Para mejorar el rendimiento y la escalabilidad de la calculadora, decidí utilizar React, un framework de JavaScript muy popular y eficiente.
                Como editor de código, opté por Visual Studio Code, que tiene una amplia variedad de funciones y herramientas de depuración para ayudarme a escribir un código limpio y eficiente.
            </p>
        </div>
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
            <img src="../../../assets/calculadora.png" class="img-fluid img-proyector">
        </div>

    </div>
       
    </div>
</div>
