<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto de perfil.jpg" class="img-fluid perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Araujo Francisco Enrique</p>
        <p id="developer">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 row"> <!-- Agregar la clase row aquí -->
        <span>
            <h1>Acerca de mí</h1>
            <p>Mi nombre es Francisco Araujo, tengo 34 años y soy argentino. Actualmente resido en General Pico, La Pampa. Me apasiona el mundo de la informática y desde el año pasado he estado aprendiendo programación full stack. En el 2022 cursé el programa de Operador en Informática para Administración y Gestión.

                En mis tiempos libres me gusta levantar pesas y entrenar kung fu. Siempre estoy en busca de más conocimientos y en un futuro me gustaría adentrarme en el área de ciberseguridad, testing y gaming. Me encantaría diseñar videojuegos, especialmente si son del estilo de Blizzard, como Diablo 2 y Warcraft 3. </p>
        </span>
    </div>
</div>
